<input type="button"
       (click)="onClick()"
       [value]="calculateButtonText()">
<p *ngIf="paragraphVisible">
  Secret password = tuna
</p>
<div>
  <ul>
    <li *ngFor="let log of logs; let i = index">
      <p *ngIf="i >= 4; else other"
         [ngStyle]="{backgroundColor: 'blue'}"
         [ngClass]="'whitefont'"
      >{{ log }}. There were {{ i+1 }} clicks</p>
      <ng-template #other>
        <p>{{ log }}. There were {{ i+1 }} clicks</p>
      </ng-template>
    </li>
  </ul>
</div>
