<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit (buttonClickEvent)="onClickedButtons($event)"
    ></app-shopping-list-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
<div class="row">
  Clicked buttons: {{ clickedButtonsCounter }}
  <br>
  Last clicked button: {{ lastClickedButton }}
</div>
